ID_CLIENT=
SECRET_CLIENT=

#Azure
AZURE_CLIENT_ID=
AZURE_TENANT_ID=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Google Drive
GDRIVE_CLIENT_ID=
GDRIVE_CLIENT_SECRET=
GDRIVE_REFRESH_TOKEN=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=



